{% extends "base.html" %} {% load static %} {% block title %}About Us<br />
{% endblock %} <br />
{% block content %}
<h2 class="mb-4 text-center">About Us</h2>
<div class="row">
  <div class="col-md-6">
    <img
      src="{% static 'image/about.jpg' %}"
      class="img-fluid rounded"
      alt="About"
      style="width: 800px; height: 400px"
    />
  </div>
  <div class="col-md-6">
    <p style="text-align: justify">
      Welcome to our website! We are dedicated to providing the best services
      and support to our customers. Our team is passionate about innovation and
      delivering quality solutions tailored to your needs. We believe in
      transparency, integrity, and continuous improvement. Thank you for
      visiting us and learning more about our mission and values.Welcome to our
      website! We are dedicated to providing the best services and support to
      our customers. Our team is passionate about innovation and delivering
      quality solutions tailored to your needs. We believe in transparency,
      integrity, and continuous improvement. Thank you for visiting us and
      learning more about our mission and values.Welcome to our website! We are
      dedicated to providing the best services and support to our customers. Our
      team is passionate about innovation and delivering quality solutions
      tailored to your needs. We believe in transparency, integrity, and
      continuous improvement. Thank you for visiting us and learning more about
      our mission and values.
    </p>
  </div>
</div>
{% endblock %}
